* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-family: var(--mainFont); */
}

.App {
  position: relative;
  background: url(./images/bgr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: var(--primaryColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
